/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filter{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
	flex-wrap: wrap;
}

/*Style a mettre dans le JS*/
.active{
	transition: background-color 0.6s;
	background-color: #1D6154;
	color: #ffff;
}
/*Style a mettre dans le JS*/
.filter button{
	margin: 0 0.5rem;	
	border: none;
	border: 1px solid #1D6154;
	font-size: 1rem;
	border-radius: 60px;
	font-family: 'Work Sans' ;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
}
.btn-all{
	color: #1D6154;
	background-color: #ffff;
}

.btn-objets {
	color: #1D6154;
	background-color: #ffff;
}

.btn-apps {
	color: #1D6154;
	background-color: #ffff;
}

.btn-hotel{
	color: #1D6154;
	background-color: #ffff;
}





.loginsize{
	height: 70vh
}

.loginsize h2 {
	text-align: center;
	padding-bottom: 4rem;
	padding-top: 4rem;

}
.loginpage{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.loginpage label{
	padding-bottom: 1rem;
	font-family: "Work Sans";
}
.container input{
	width: 20rem;
	height: 2rem;
	background-color: white;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
	font-size: 1.5rem;
}
.container {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
}

.loginpage input[type=submit]{
	border: none;
	height: 2rem;
}

.spanstyle{
	text-decoration: underline;
	font-family: "Work Sans";
}

.error{
	display: none; 
	align-items: center; 
	justify-content: center;
	background-color: rgb(253, 65, 65);
	font-size: 16px;
	color: #ffff;
	width: 20rem;
	height: 2rem;
}

/*Style Admin Index */


.adminedit{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	height: 3.7rem;
}


.adminedit__icon{
	padding-right: 1rem;
	color: white;
}
.adminedit__text{
	font-size: 16px;
	font-family: "Work Sans";
	padding-right: 1rem;
	color: white;
}

.btn-admin{
	border-radius: 20px;
	width: 13rem;
	height: 2.35rem;
	color: black;
	font-size: 14px;
	font-family: "Work Sans";
	font-weight: 500;
}
/* En dessous de la photo */
.edituserpics{
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
	padding-left: 3.7rem;
}

/* Mes projets*/
.centeredit{
	display: flex;
	justify-content: center;
}

.edituser{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
	padding-left: 2rem;
	font-family: "Work Sans";
}

.edituser__icon{
	padding-right: 0.5rem;
}

.myBtnModale{
	cursor: pointer;
}

.modale{
	display: none;
	position: fixed;
	z-index: 1;
	top: 0rem;
	background-color: white;
	left: 0;
	right: 0;
	width: 100%; /* Full width */
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modale h4{
	font-size: 26px;
	text-align: center;
	padding-bottom: 3rem;
	margin-top: 1rem;
}
.modale .close{
	display: flex;
	justify-content: end;
	padding-top: 1rem;
	padding-right: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.gallery2{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 400px;
	gap: 1rem;
	align-items: center;
	border-bottom: 2px solid #B3B3B3;
	padding-bottom: 2rem;
	padding-left: 10px;
	margin-bottom: 2rem;
}

.gallery2 img{
	min-width: 2rem;
	height: 5rem;
}
.modale__txt{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modale__txt button{
	background-color: 	#1D6154;
	color: white;
	width: 30%;
	border-radius: 20px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-family: 'Work Sans' ;
	margin-bottom: 1rem;
	border: none;
	cursor: pointer;
}
.modale__txt span{
	color: red;
	font-family: 'Work Sans' ;
	margin-bottom: 1rem;
	
}
.modale-content{
	background-color: white;
	width: 50%;
	margin: auto;
	margin-top: 5rem;
	border-radius: 10px;
}


/* Modale 2 */
.modale-content2{
	display: none;
	background-color: white;
	width: 50%;
	margin: auto;
	margin-top: 5rem;
	border-radius: 10px;

}
.content-spacebetween{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.content-spacebetween i{
	padding-top: 1rem;
    padding-left: 1rem;
	cursor: pointer;
}


.carrer-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.carrer-content #filestyle{
	display: none;
}
.carrer-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
	width: 370px;
	/* height: 150px; */
	font-size: 16px;
}

.carrer-container i{
	font-size: 4rem;
	margin-top: 3rem;
	color: 
	#CBD6DC;
}

.carrer-container label{
	font-family: "Work Sans";
	font-weight: 500;
	cursor: pointer;
	display: flex;
	border-radius: 50px;
	padding: 0rem 1rem;
	text-align: center;
	color: #306685;
	background-color: #CBD6DC;
	padding: 1rem;
	margin-bottom: 1rem;

}
.carrer-container span{
	font-family: "Work Sans";
	margin-bottom: 1rem;
	font-size: 12px;
}

.fa-trash-can{
	cursor: pointer;
	background-color: black;
	color: white;
	width: 20px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	position: relative;
	z-index: 999;
	top: -5.5rem;
	left: 2rem;
}



.modale-content2 form{
	/* display: flex; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem;
	
}
.modale-content2 form label{

	margin-top: 2rem;
	padding-bottom: 1rem;
}
.modale-content2 form input {
		/* width: 20rem; */
		width: 40%;
		height: 2rem;
		background-color: white;
		border: none;
		box-shadow: rgb(0 0 0 / 15%) 0px 5px 10px;
		font-size: 1.5rem;
	}
	
.modale-content2 form select{
	width: 40%;
		height: 2rem;
		background-color: white;
		border: none;
		box-shadow: rgb(0 0 0 / 15%) 0px 5px 10px;
		font-size: 1.5rem;
}
.container2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
    PADDING-LEFT: 30%;
}

/*
.modale__txt2{
	padding-top: 2rem;
	margin: auto;
	margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 1rem;
    align-items: center;
    border-top: 2px solid #B3B3B3;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
} */
/* 
.modale__txt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .modale__txt2 button {
    background-color: 	#A7A7A7;
    color: white;
    width: 30%;
    border-radius: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Work Sans';
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
} */

.modale__txt2{
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
	margin-top: 1rem;
	border-top: 2px solid #B3B3B3;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modale__txt2 button{
	margin-top: 1rem;
	background-color: #A7A7A7;
    color: white;
    width: 100%;
    border-radius: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Work Sans';
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
}